h1, h2 {
    color: #000066;
    text-decoration: underline;
}

body {
	 background-color: #33CCFF;
	margin-left: auto;
    margin-right: auto;
    width: 100;
    font-family: "Indie Flower", Helvetica;
}

ul { 
	list-style: circle; }

body { 
	}